<div class="ta-se-generation flexcol" style="height: 100%;">
    <div class="dialog-content" style="height: calc(100% - 30px);">
        <form style="height: 100%;">
            <!-- Effect Description -->
            <div class="flexrow" style="padding-bottom:10px;">


                <div style="padding-right:10px;">
                    <div class="form-group">
                        <label>{{localize 'acd.ta.SoundEffects.filename'}}</label>
                        <input type="text" id="ta_sf_filename" value="{{filename}}"/>
                    </div>
                    <div class="form-group">
                        <label>{{localize 'acd.ta.SoundEffects.effectDescription'}}</label>
                        <div>
                            <textarea name="ta_sf_effectdescription" cols="40" rows="5" >{{text}}</textarea>
                            <label>{{localize 'acd.ta.SoundEffects.effectDescriptionHint'}}</label>
                         </div>
                    </div>
                </div>
            </div>

            <!-- Generation Settings -->
            <div class="flexrow" style="padding-bottom:10px;">
                <div style="padding-right:10px;">
                    <div class="settings-header">{{localize 'acd.ta.SoundEffects.generationSettings'}}</div>

                    <div class="form-group">
                        <label class="flex1">{{localize 'acd.ta.SoundEffects.secondsLabel'}}</label>
                        <input type="range" id="ta_sf_duration_seconds" min="0" max="22" step="0.5" value="{{durationSeconds}}"/>
                        <label id="ta_sf_duration_seconds_label" style="margin-left:5px;">{{currentSeconds}}</label>
                    </div>

                    <div class="form-group">
                        <label class="flex1">{{localize 'acd.ta.SoundEffects.promptInfluenceLabel'}}</label>
                        <input type="range" id="ta_sf_promptInfluence" min="0" max="1" step="0.05" value="{{promptInfluence}}"/>
                        <label id="ta_sf_promptInfluence_label" style="margin-left:5px;">{{currentPromptInfluence}}</label>
                    </div>
                </div>

                <!-- Ambient Sound Settings -->
                <div style="height: 100%; overflow-y: auto; overflow-x: hidden;line-height: 17px;">
                        <div class="settings-header">{{localize 'acd.ta.SoundEffects.headerAmbientSoundOptions'}}</div>

                        <div class="form-group">
                            <label>{{localize 'acd.ta.SoundEffects.radius'}}:</label>
                            <input type="number" name="ta_sf_radius" value="20"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize 'acd.ta.SoundEffects.volume'}}:</label>
                            <input type="number" name="ta_sf_volume" value="1" step="0.01" min="0" max="1"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize 'acd.ta.SoundEffects.walls'}}:</label>
                            <input type="checkbox" name="ta_sf_walls" value="true"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize 'acd.ta.SoundEffects.easing'}}:</label>
                            <input type="checkbox" name="ta_sf_easing" value="true"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize 'acd.ta.SoundEffects.hidden'}}:</label>
                            <input type="checkbox" name="ta_sf_hidden" value="true"/>
                        </div>
                        <div class="form-group">
                            <label>{{localize 'acd.ta.SoundEffects.repeat'}}:</label>
                            <input type="checkbox" name="ta_sf_repeat" value="true"/>
                        </div>

                </div>
            </div>
        </form>
    </div>

    <div class="dialog-buttons flexrow">
        <button class="dialog-button generate" data-button="generate" title="{{localize 'acd.ta.SoundEffects.buttonGenerateHint'}}">
            <i class="fas fa-plus" style="margin-right: 10px"> {{localize 'acd.ta.SoundEffects.buttonGenerate'}}</i>
        </button>

        <button class="dialog-button generate-and-place" data-button="generate-and-place" title="{{localize 'acd.ta.SoundEffects.buttonGenerateAndPlaceHint'}}">
            <i class="fas fa-plus" style="margin-right: 10px"> {{localize 'acd.ta.SoundEffects.buttonGenerateAndPlace'}}</i>
        </button>

        <button class="dialog-button close" data-button="close" title="{{localize 'acd.ta.VoiceSettings.Close'}}">
        <i class="fas fa-close" style="margin-right: 10px"> {{localize 'acd.ta.VoiceSettings.Close'}}</i></button>
    </div>
    
    <div class="ta-se-overlay" style="height: 100%;">
        <div class="ta-se-overlay-text">Working</div>
    </div>
</div> 
