<div class="ta-voice-settings flexcol" style="height: 100%;">
    <div class="dialog-content" style="height: calc(100% - 30px);">
        <form style="height: 100%;">
            <div class="flexrow" style="height: 100%;">
                <div style="padding-right:10px;">

                    <!-- Actor List -->
                    <div class="form-group sheet">
                        <ol class="items-list inventory-list">
                            <li class="items-header flexrow">
                                <h3 class="item-name noborder flexrow">{{localize 'acd.ta.VoiceSettings.Actors'}}</h3>

                                <div class="item-controls flexrow">
                                    <a class="item-control" title="{{localize 'acd.ta.VoiceSettings.AddActor'}}"
                                        data-type="actor">
                                        <i class="fas fa-plus"></i>{{localize 'acd.ta.VoiceSettings.Add'}}
                                    </a>
                                    <a class="item-control" title="{{localize 'acd.ta.VoiceSettings.ClearAll'}}"
                                        data-type="clear">
                                        <i class="fas fa-trash-alt"></i>{{localize 'acd.ta.VoiceSettings.Clear'}}
                                    </a>
                                </div>
                            </li>

                            <ol class="item-list" style="min-height:150px;">
                                {{#each actors}}
                                <li class="item flexrow " data-item-id="{{this.id}}" draggable="true">
                                    <div class="item-name flexrow rollable">
                                        <div class="item-image"
                                            style="background-image: url('{{this.prototypeToken.texture.src}}')">
                                            <video width="30" height="30">
                                                <source src="{{this.prototypeToken.texture.src}}" />
                                            </video>
                                        </div>
                                        <h4>
                                            {{this.name}}
                                        </h4>
                                    </div>

                                    <div class="item-controls flexrow">
                                        <a class="item-control item-delete"
                                            title="{{localize 'acd.ta.VoiceSettings.DeleteActor'}}"><i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </ol>
                    </div>
                </div>

                <!-- Voice Settings -->
                <div class="voice-settings"
                    style="height: 100%; overflow-y: auto; overflow-x: hidden;line-height: 17px;">

                    <!-- Voice Selection -->
                    <div class="settings-header">{{localize 'acd.ta.VoiceSettings.VoiceSelection'}}</div>
                    <div class="form-group">
                        <label>{{localize 'acd.ta.VoiceSettings.VoiceLabel'}}</label>
                        <select id="voice-id">
                            {{#each voices}}
                            <option value="{{this.voice_id}}" {{#ifEquals this.voice_id ../voiceId}}selected="selected"
                                {{/ifEquals}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                        <a class="item-control" id="play-sample" title="{{localize 'acd.ta.VoiceSettings.PlaySample'}}">
                            <i class="fas fa-play" style="margin-left: 10px"></i></a>
                    </div>

                    <div class="settings-header">{{localize 'acd.ta.VoiceSettings.Settings'}}</div>
                    
                    <!-- Similarity Boost -->
                    <div class="form-group">
                        <label>{{localize 'acd.ta.VoiceSettings.SimilarityBoost'}}</label>
                        <input type="range" id="similarity_boost" min="0" max="1" step="0.05" value="{{voiceSettings.similarity_boost}}"/>
                        <label id="similarity_boost_label">{{voiceSettings.similarity_boost}} %</label>
                    </div>

                    <!-- Stability -->
                    <div class="form-group">
                        <label>{{localize 'acd.ta.VoiceSettings.Stability'}}</label>
                        <input type="range" id="stability" min="0" max="1" step="0.05" value="{{voiceSettings.stability}}"/>
                        <label id="stability_label">{{voiceSettings.stability}} %</label>
                    </div>

                    <!-- Style -->
                    <div class="form-group">
                        <label>{{localize 'acd.ta.VoiceSettings.Style'}}</label>
                        <input type="range" id="style" min="0" max="1" step="0.05" value="{{voiceSettings.style}}"/>
                        <label id="style_label">{{voiceSettings.style}} %</label>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <div class="dialog-buttons flexrow">
        <button class="dialog-button accept-data" data-button="accept-data"
            title="{{localize 'acd.ta.VoiceSettings.AcceptData'}}"><i class="fas fa-save" style="margin-right: 10px">{{localize
                'acd.ta.VoiceSettings.AcceptData'}}</i></button>
    
       <button class="dialog-button close" data-button="close"
            title="{{localize 'acd.ta.VoiceSettings.Close'}}"><i class="fas fa-close" style="margin-right: 10px">{{localize
                'acd.ta.VoiceSettings.Close'}}</i></button>
    </div>
</div>
